.section {
  background-image: url("/images/banners/category-background.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 800px;
  margin-bottom: 16px;
}

.section article {
  background: #ffffff14;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.section article img {
  position: absolute;
  left: 30px;
  bottom: -30px;
  transform: scale(0.95);
  opacity: 0.15;
}

.section article h2,
.section article a {
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  color: rgba(255, 255, 255, 54%);
  padding: 20px 0;
  z-index: 9;
  display: block;
}

.section article:hover {
  background-color: var(--green);
  cursor: pointer;
}

.section article:hover h2 {
  background-color: #ffffffcf !important;
  color: var(--green) !important;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  transition-duration: 0.8s;
}

.section article:hover a {
  color: var(--green) !important;
  padding: 0;
}

.section article:hover img {
  animation: lift 0.5s forwards;
}

@keyframes lift {
  0% {
  }
  100% {
    left: 0px;
    bottom: 0px;
    transform: scale(1);
    opacity: 1;
  }
}

.section article:hover h2 {
  background: var(--green-trans);
}

.section article:hover a {
  color: white;
}

.section article:nth-child(1) {
  height: 50%;
  border-bottom: solid 8px rgb(var(--background-rgb));
  width: 28%;
}

.section article:nth-child(2) {
  height: 50%;
  border-top: solid 8px rgb(var(--background-rgb));
  width: 28%;
}
.section article:nth-child(3) {
  height: 25%;
  width: 44%;
  border-right: solid 16px rgb(var(--background-rgb));
  border-left: solid 16px rgb(var(--background-rgb));
  border-bottom: solid 8px rgb(var(--background-rgb));
}
.section article:nth-child(4) {
  height: 25%;
  width: 44%;
  border-right: solid 16px rgb(var(--background-rgb));
  border-bottom: solid 8px rgb(var(--background-rgb));
  border-top: solid 8px rgb(var(--background-rgb));
  border-left: solid 16px rgb(var(--background-rgb));
}
.section article:nth-child(5) {
  height: 25%;
  width: 44%;
  border-right: solid 16px rgb(var(--background-rgb));
  border-top: solid 8px rgb(var(--background-rgb));
  border-bottom: solid 8px rgb(var(--background-rgb));
  border-left: solid 16px rgb(var(--background-rgb));
}
.section article:nth-child(6) {
  height: 25%;
  width: 44%;
  border-right: solid 16px rgb(var(--background-rgb));
  border-top: solid 8px rgb(var(--background-rgb));
  border-left: solid 16px rgb(var(--background-rgb));
}
.section article:nth-child(7) {
  height: 50%;
  border-bottom: solid 8px rgb(var(--background-rgb));
  width: 28%;
}
.section article:nth-child(8) {
  height: 50%;
  border-top: solid 8px rgb(var(--background-rgb));
  width: 28%;
}

@media only screen and (max-width: 700px) {
  .section article {
    width: 100% !important;
    height: 20% !important;
    border-left: none !important;
    border-right: none !important;
    border-top: solid 8px rgb(var(--background-rgb));
    border-top: solid 8pxrgb (var(--background-rgb));
  }

  .section article img {
    left: 60%;
    bottom: -50px;
  }

  @keyframes lift {
    0% {
    }
    100% {
      left: 0px;
      bottom: -90px;
      opacity: 1;
    }
  }
}
