.section {
  background-image: url("/images/banners/category-background.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 800px;
  margin-bottom: 16px;
}

.section article {
  flex: 1 0 auto;
  background: #ffffff14;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.section article img {
  position: absolute;
  left: 30px;
  bottom: -30px;
  transform: scale(0.95);
  opacity: 0.25;
}

.section article h2,
.section article a {
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.185);
  padding: 20px 0;
  z-index: 9;
  display: block;
}

.section article:hover {
  background-color: #00000036;
  cursor: pointer;
}

.section article:hover img {
  animation: lift 0.5s forwards;
}

@keyframes lift {
  0% {
  }
  100% {
    left: 0px;
    bottom: 0px;
    transform: scale(1);
    opacity: 1;
  }
}

.section article:hover h2 {
  background: var(--green-trans);
}

.section article:hover a {
  color: white;
}

.section article:nth-child(1) {
  height: 50%;
  border-bottom: solid 8px rgb(239, 239, 239);
}

.section article:nth-child(2) {
  height: 50%;
  border-top: solid 8px rgb(239, 239, 239);
}
.section article:nth-child(3) {
  height: 25%;
  border-right: solid 16px rgb(239, 239, 239);
  border-left: solid 16px rgb(239, 239, 239);
  border-bottom: solid 8px rgb(239, 239, 239);
}
.section article:nth-child(4) {
  height: 25%;
  border-right: solid 16px rgb(239, 239, 239);
  border-bottom: solid 8px rgb(239, 239, 239);
  border-top: solid 8px rgb(239, 239, 239);
  border-left: solid 16px rgb(239, 239, 239);
}
.section article:nth-child(5) {
  height: 25%;
  border-right: solid 16px rgb(239, 239, 239);
  border-top: solid 8px rgb(239, 239, 239);
  border-bottom: solid 8px rgb(239, 239, 239);

  border-left: solid 16px rgb(239, 239, 239);
}
.section article:nth-child(6) {
  height: 25%;
  border-right: solid 16px rgb(239, 239, 239);
  border-top: solid 8px rgb(239, 239, 239);
  border-left: solid 16px rgb(239, 239, 239);
}
.section article:nth-child(7) {
  height: 50%;
  border-bottom: solid 8px rgb(239, 239, 239);
}
.section article:nth-child(8) {
  height: 50%;
  border-top: solid 8px rgb(239, 239, 239);
}
