.section {
  background-image: url("/images/banners/category-background.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 800px;
  margin-bottom: 16px;
}

.section article {
  flex: 1 0 auto;
  background: #ffffff14;
  color: rgba(255, 255, 255, 0.185);
  text-align: center;
  font-family: system-ui;
  font-weight: 900;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section article:hover {
  background-color: transparent;
  cursor: pointer;
}

.section article:nth-child(1) {
  height: 50%;
  border-bottom: solid 8px rgb(239, 239, 239);
}
.section article:nth-child(2) {
  height: 50%;
  border-top: solid 8px rgb(239, 239, 239);
}
.section article:nth-child(3) {
  height: 25%;
  border-right: solid 16px rgb(239, 239, 239);
  border-left: solid 16px rgb(239, 239, 239);
  border-bottom: solid 8px rgb(239, 239, 239);
}
.section article:nth-child(4) {
  height: 25%;
  border-right: solid 16px rgb(239, 239, 239);
  border-bottom: solid 8px rgb(239, 239, 239);
  border-top: solid 8px rgb(239, 239, 239);
  border-left: solid 16px rgb(239, 239, 239);
}
.section article:nth-child(5) {
  height: 25%;
  border-right: solid 16px rgb(239, 239, 239);
  border-top: solid 8px rgb(239, 239, 239);
  border-bottom: solid 8px rgb(239, 239, 239);

  border-left: solid 16px rgb(239, 239, 239);
}
.section article:nth-child(6) {
  height: 25%;
  border-right: solid 16px rgb(239, 239, 239);
  border-top: solid 8px rgb(239, 239, 239);
  border-left: solid 16px rgb(239, 239, 239);
}
.section article:nth-child(7) {
  height: 50%;
  border-bottom: solid 8px rgb(239, 239, 239);
}
.section article:nth-child(8) {
  height: 50%;
  border-top: solid 8px rgb(239, 239, 239);
}
