#form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#form button {
  margin-top: 25px;
  font-size: 0.8em;
  padding: 10px 25px;
}

#form input {
  margin-top: 25px;
  width: 48%;
  height: 30px;
  border-style: solid;
  border-radius: 6px;
  padding-left: 10px;
}

#form textarea {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
}
