.section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 250px;
}

.section article {
  flex: 1 0 auto;
  background: #ec985a;
  color: white;
  margin: 0 1rem 1rem 0;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section article:nth-child(1) {
  height: 48%;
}
.section article:nth-child(2) {
  height: 48%;
}
.section article:nth-child(3) {
  height: 20%;
}
