@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap");

@font-face {
  font-family: impact;
  src: url(/src/assets/fonts/impact.ttf);
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-headings: "Roboto Flex", sans-serif;
  --font-headings-alt: "impact", sans-serif;
  --font-text: "Lato", sans-serif;
  --background-rgb: 239, 239, 239;
  --foreground-rgb: 0, 0, 0;
  --green: #2ab673;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-text);
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
strong,
a {
  font-family: var(--font-headings);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.navContainer {
  background: linear-gradient(to top, #ffffff42 0%, #00000000 50%);
  height: 100px;
  color: white;
  box-sizing: border-box;
  position: relative;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 70%,
    55% 70%,
    54% 100%,
    46% 100%,
    45% 70%,
    0 70%
  );
  width: 3000px;
  left: 50%;
  transform: translatex(-50%);
}

.innerNavContainer {
  display: flex;
  justify-content: center;
}

.innerNavContainer div {
  width: 25vw;
  text-align: center;
}

.navContainer img {
  position: relative;
  top: 16px;
  filter: drop-shadow(0px 0px 10px black);
}

.boxedContainer {
  width: 90%;
  max-width: 1250px;
  margin: 50px auto;
}

.rightMenuContainer,
.leftMenuContainer {
  line-height: 74px;
}

.rightMenuContainer ul,
.leftMenuContainer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.rightMenuContainer a,
.leftMenuContainer a {
  margin: 0 2%;
  padding: 0 8px;
  font-size: 0.9em;
  height: 69px;
}

.rightMenuContainer a:hover,
.leftMenuContainer a:hover {
  background-color: rgba(255, 255, 255, 0.144);
  border-bottom: var(--green) 4px solid;
}
