.container {
  display: flex;
}

.container div {
  margin: 20px 10px;
  background-color: var(--green);
}

.container a {
  color: white;
  padding: 8px 20px;
  display: block;
}

.container div:hover {
  background-color: var(--green-dark);
}
