.pageBanner {
  width: 100%;
  height: 40vh;
  background-image: url("/images/banners/thin-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.pageBanner h1 {
  color: white;
  font-size: clamp(15px, 3.5vw, 50px);
}

.pageBannerText {
  width: 100%;
  max-width: var(--max-width);
  text-align: right;
  position: relative;
  bottom: 5vh;
  margin: 0 auto;
  padding: 0 25px;
  filter: drop-shadow(1px 1px 6px #242424);
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}

.top {
  background: var(--light);
  padding: 25px;
  height: 15vh;
}

.innerContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--max-width);
  margin: auto;
  justify-content: start;
  height: 100px;
}

.imageContainer {
  position: relative;
  top: -30vh;
}

.innerContainer img:hover {
  filter: brightness(0.9);
}

.metaContainer a {
  background-color: var(--green);
  padding: 2px 10px;
  display: inline-block;
  margin: 0 5px;
  text-transform: uppercase;
  font-size: 12px;
  color: white;
}

.detailsContainer {
  display: flex;
  height: 100px;
}

.detailsContainer div {
  height: 100px;
}

.detailsContainer img {
  background: white;
  margin: 0 5px;
}

.detailsContainer img,
.imageContainer img {
  cursor: pointer;
}

.mainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shortDescription {
  max-width: calc(100% - 350px);
}

.productDetails {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 350px;
}

.rrp {
  background: var(--green);
  display: inline-block;
  color: white;
  padding: 8px 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.sku {
  margin: 5px 0;
  font-weight: bold;
}

.sku span {
  color: var(--green);
}

.dealers {
  border: none;
  border-bottom: var(--green) solid 4px;
  font-size: 1.6em;
  line-height: 1.6em;
  color: var(--green);
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 12px;
}

.dealers:hover,
.dealers:hover a {
  background-color: var(--green);
  color: white;
}

.dealers svg {
  margin-left: 10px;
  position: relative;
  top: 2px;
}

.description {
  margin: 65px 0;
}

.description p {
  margin: 10px 0;
}

.description ul {
  margin: 0;
}

.specs {
  line-height: 2em;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row div {
  padding: 8px 20px;
}

.tableLeft {
  font-weight: bold;
  border-right: rgb(var(--background-rgb)) 3px solid;
  width: 16vw;
  padding: 8px 20px;
  min-width: 270px;
}

.specs > div:nth-child(even) {
  background: var(--extra-light);
}

.specs > div:nth-child(even):hover {
  background: var(--green);
}

.row:hover {
  background: var(--green);
  color: white;
  transform: scale(1.03);
  border: none;
}
.row:hover div {
  border: none;
}

.row .definitions {
  display: none;
  background: var(--green);
  width: 100%;
  padding: 0 50px;
  line-height: 1em;
  position: relative;
  top: -5px;
}

.row:hover .definitions {
  display: block;
}

.definitions svg {
  position: relative;
  top: 3px;
}

.back,
.forward {
  position: absolute;
  font-size: 90px;
  color: #ffffff5e;
  cursor: pointer;
  height: 0;
}

.back:hover,
.forward:hover {
  color: #ffffffc9;
}

.back {
  left: 0;
}
.forward {
  right: 0;
}

@media only screen and (max-width: 750px) {
  .mainContent {
    flex-direction: column;
  }

  .mainContent > section {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
  .productDetails {
    text-align: left;
  }
}
